body {
    background-color: #030303;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}
.home {
    font-size: 100%;
}
.divider {
    font-size: 200%
}

.text1 {
    font-size: 4%;
    position: fixed;
    bottom: 0%;
    left: 0.25%;
}
.text2 {
    font-size: 4%;
    position: fixed;
    bottom: 0%;
    right: 0.25%;
}
.text3 {
    font-size: 4%;
    position: fixed;
    top: 0%;
    right: 0.25%;
}